/* CustomerTable.css */
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }

td button {
    margin-right: 8px; 
  }

button.edit-button {
    background-color: blue;
    color: white;
  }
  
  button.delete-button {
    background-color: red;
    color: white;
  }
  
  button.save-button {
    background-color: green;
    color: white;
  }

  
  
  
  